* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*To box model */
  }
  
body{
    
    background-color: black;
    color: blanchedalmond;
}


.heading{
    background-image: linear-gradient(
        to right,
        #a09a99 0%,
        #302c2e 51%,
        #a09a99 100%
    );
    border-radius: 0 0 20px 20px;
}
.nav-sub{
    display: flex;
    justify-content: space-around;
}

.head-text{
    font-size: 50px;
    padding: 30px;
    text-align: center;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
a:hover{
    color: burlywood;
}
.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 20px;
    height: 300px;
    
}

.data{
    font-size: 30px;
    text-align: center;
    color:white;
}

.table-style{
    background-color: rgba(155, 146, 146, 0.384);
    border-radius: 3px;
    border: honeydew;
    border-spacing: 30px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    background-image: url(./assets/corona.jpeg);
    background-size: cover;
}
.tab-body:hover{
    background-color:lightgray;
    color: black;
}
.button{
    width: 300px;
    font-size: 20px;
    background-color: darkgray;
    border-radius: 10px;
    margin-left: 480px;
}
.button:hover{
    background-color: darkslategray;
    
}
.button:focus{
    background-color: lightyellow;
}
.foot{
    margin-top: 30PX;
    background-image: linear-gradient(
        to right,
        #a09a99 0%,
        #302c2e 51%,
        #a09a99 100%
    );
    border-radius: 20px 20px 0 0;
}

.contact{
    display: flex;
    justify-content: space-evenly;
}

/*Precaution*/
.prec-icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
#icon{
    background-color: rgb(190, 183, 183);
    border-radius: 10px;
    color: black;
    width: 170px;
    font-size: 10px;
    text-align: center;
    padding: 3px;
}
#icon:hover{
    width: 180px;
    background-color: blanchedalmond;
}
/*precautions*/
.symp-text{
    font-size: 16px;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    margin-top: 15px;
    background-image: linear-gradient(
        to right,
        #5a5756 0%,
        #302c2e 51%,
        #a09a99 100%
    );
    background-size: cover;
      transform: skewY(-3deg);
    z-index: -2;
    padding: 10px;
}
.symp-image{
    padding: 40px;
}
.img-text{
    display: flex;
    justify-content: space-evenly;
}